/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
    
    
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  body {
      font-family: Helvetica, sans-serif;
      font-size: 20px;
      background-color: white;
  }

  .title {
      text-align: center;
  }

  .img-center {
      text-align: center;
      width: 100%;
      height: auto;
  }
  
  aside { 
    float:right; 
    width: 40%; 
    float: right; 
    background-color: white; 
    color: black; 
    padding:5px;  
    margin:10px; 
    height:100px; 
} 

.footer {
    text-align: center;
}