h1 {
        font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
    background-image: url(/resources/images/pattern.jpeg);
    
}
h1, h2, h3 {
    font-family: Helvetica;

}


.item h2 {
    color: white;
    font-size: 32px;
}

#brush {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}